body {
  text-align: center;
  background-color: #006BBB;
  margin: 0 auto;
  max-width: 800px;
}

#game {
  width: 400px;
  height: 400px;
  margin-left: 25%;
  /*margin-right: 12.5%;*/
  /*margin: 0 auto;*/
}

#game div {
  background-color: linen;
  margin: 0.5555555%; /* 10/900 = 0.0111111 */
  width: 32.22222222%;
  height: 32.222222%;
  border-radius: 10px;
  font-size: 14em;
  position: relative;
  line-height: 90px; 
}

#game div:hover {
  background-color: yellow;
}

#span-0, #span-1, #span-2 {
  display: inline-block;
} 

#span-3, #span-4, #span-5 {
  display: inline-block;
} 

#span-6, #span-7, #span-8 {
  display: inline-block;
} 

@media all and (min-width: 300px) {
  #game div {

  }
}


